fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-core
langchain-huggingface
faiss-cpu
huggingface_hub
pypdf
sentence-transformers
python-dotenv
tiktoken
protobuf
google-auth
requests
